body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #ffffff;
}

header {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

h1, h2, h3 {
    margin: 0;
}

section {
    padding: 2rem;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.about-text {
    flex: 1;
    margin-right: 1rem;
}

.profile-container {
    position: relative;
    width: 200px; /* Adjust the size as needed */
    transition: opacity 0.5s ease-in-out;
}

.profile-photo {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.5);
}

.project {
    margin-bottom: 1rem;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

#skills {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.skill-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
    padding: 1.5rem;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 40px rgba(0, 255, 255, 0.5);
}

.skill-card::after {
    content: attr(title);
    position: absolute;
    bottom: 110%; /* Place above the card */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 255, 255, 0.9); /* More opaque background */
    color: #000;
    padding: 1rem; /* Increased padding for larger appearance */
    border-radius: 10px; /* Rounded corners */
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0s; /* Faster appearance */
    pointer-events: none;
    width: 260px; /* Increased width for the tooltip */
    font-size: 30px; /* Font size for tooltip */
    text-align: center; /* Centered text */
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5); /* Neon effect */
    border: 2px solid rgba(0, 255, 255, 1); /* Neon border */
}

.skill-card:hover::after {
    opacity: 1; /* Fully visible on hover */
}

h2 {
    margin-bottom: 1.5rem;
}

#hobbies, #certifications, #awards, #resume {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.resume-link {
    background: rgba(0, 255, 255, 0.8);
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.resume-link:hover {
    background: rgba(0, 255, 255, 1);
}
